{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Group Detail</h1>
    
    <!-- Student Details -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h3>{{ group.name }}</h3>
            <p><strong>Name:</strong> {{ group.name }}</p>
            <p><strong>Duration:</strong> {{ group.duration }}</p>
            <p><strong>Price:</strong> {{ group.price }}</p>
            <p><strong>Tutor:</strong> {{ group.tutor }}</p>
            <p><strong>Course:</strong> {{ group.course }}</p>
            
            <a href="{% url 'groups_list' %}" class="btn btn-secondary mt-3">Back to Groups List</a>
        </div>
    </div>
</div>
{% endblock %}
